@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Markazi Text", serif;
}

body {
  width: 100%;
  height: 100%;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn-1, .taxi-registration div button, .request .req-btn .taxi-registration div button, .taxi-registration div .request .req-btn button, .request .req-btn .btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background: #21aa58;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: 0.2s;
  text-align: center;
}
.btn-1:hover, .taxi-registration div button:hover, .request .req-btn .taxi-registration div button:hover, .taxi-registration div .request .req-btn button:hover, .request .req-btn .btn-1:hover {
  background: #2db965;
}

.btn-2, .request .req-btn .btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  background: rgba(223, 223, 223, 0.753);
  font-size: 1.3rem;
  color: #21aa58;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.btn-2:hover, .request .req-btn .btn-2:hover {
  background: rgba(235, 235, 235, 0.753);
}

.btn-3, .request .req-btn .btn-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background: deeppink;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: 0.2s;
  text-align: center;
}
.btn-3:hover, .request .req-btn .btn-3:hover {
  background: deeppink;
}

.btn-4, .request .req-btn .btn-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  background: rgba(223, 223, 223, 0.753);
  font-size: 1.3rem;
  color: deeppink;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.btn-4:hover, .request .req-btn .btn-4:hover {
  background: rgba(235, 235, 235, 0.753);
}

.btn-5, .home-right-super .btn-home-super2 {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  background: orangered;
  font-size: 1.3rem;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.btn-5:hover, .home-right-super .btn-home-super2:hover {
  background: rgb(255, 105, 50);
}

.btn-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background: blue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: 0.2s;
  text-align: center;
}
.btn-6:hover {
  background: rgb(53, 53, 255);
}

.btn-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  background: rgba(223, 223, 223, 0.753);
  font-size: 1.3rem;
  color: blue;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.btn-7:hover {
  background: rgba(235, 235, 235, 0.753);
}

.btn-f {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background: rgba(255, 21, 60, 0.877);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: 0.2s;
  text-align: center;
}
.btn-f:hover {
  background: rgba(255, 57, 90, 0.877);
}

.btn-f2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  background: rgb(255, 255, 255);
  font-size: 1.3rem;
  color: rgba(255, 21, 60, 0.877);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.btn-f2:hover {
  background: rgba(255, 225, 225, 0.753);
}

.home {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home .home-left {
  width: 100%;
  height: 100%;
}
.home .home-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .home-right {
  background: #21aa58;
  color: white;
  padding: 5% 10%;
}
.home .home-right h1 {
  font-size: 2.5rem;
  line-height: 60px;
  max-width: 500px;
}
.home .home-right p {
  margin-top: 20px;
  font-size: 1.7rem;
  font-weight: 400;
}
.home .home-right form {
  margin: 30px auto;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.home .home-right form input {
  border: none;
  outline: none;
  color: white;
  font-size: 1.5rem;
  background: transparent;
  border-bottom: 1px solid #fff;
  padding: 2px 5px;
}
.home .home-right form input::placeholder {
  color: white;
}
.home .home-right form button {
  border: none;
  outline: none;
  color: #21aa58;
  background: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
.home .home-right form button:hover {
  background: #d8d8d8;
}
.home .home-right .btn-home {
  margin-top: 30px;
  width: 100%;
  background: transparent;
  outline: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.home .home-right .btn-home:hover {
  background: rgba(255, 255, 255, 0.1);
}

.badges {
  padding: 5% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.badges a {
  width: 180px;
  height: 50px;
  border-radius: 10px;
}
.badges a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.apps {
  margin: 50px auto;
  padding: 0 5%;
}
.apps .app-boxes {
  width: 100%;
  height: auto;
  margin: auto;
  flex-wrap: wrap;
}
.apps .app-boxes h1 {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #333;
  padding-top: 30px;
  margin-bottom: 20px;
}
.apps .app-boxes ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.apps .app-boxes ul li {
  width: 33.3333333%;
  height: 80px;
  margin: 30px auto;
}
.apps .app-boxes ul li a {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 10px;
  height: 100%;
}
.apps .app-boxes ul li a img {
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.apps .app-boxes ul li a div {
  margin-right: 10px;
}
.apps .app-boxes ul li a div h4 {
  color: #000;
  font-weight: 500;
  font-size: 1.3rem;
}
.apps .app-boxes ul li a div p {
  color: #333;
}

.mySwiper {
  position: relative;
  margin: 100px auto 10px auto;
  width: 90%;
}
.mySwiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
}
.mySwiper .swiper-wrapper .swiper-slide {
  border-radius: 10px;
}
.mySwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}
.mySwiper .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.mySwiper .swiper-pagination-bullet-active {
  background: white;
}
.mySwiper .swiper-pagination {
  background: rgba(255, 255, 255, 0.2);
  width: fit-content;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

.super-app {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.super-app .s-a-right {
  margin-left: 20px;
  width: 100%;
  height: 100%;
}
.super-app .s-a-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.super-app .s-a-left {
  padding: 20px;
}
.super-app .s-a-left h1 {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
}
.super-app .s-a-left p {
  color: #333;
  font-size: 1rem;
  text-align: justify;
  padding-bottom: 40px;
}

.options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.options .option {
  position: relative;
  bottom: 130px;
  padding: 0 1%;
  margin-bottom: 20px;
}
.options .option div {
  background: #e7e7e7;
  width: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options .option div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.options .option h2 {
  font-weight: 500;
  margin: 10px auto;
}
.options .option p {
  max-width: 250px;
}

.navy {
  background: #e9f7ee;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.navy .navy-heading h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1c1c1c;
}
.navy .navy-heading p {
  margin-bottom: 20px;
  color: #333;
  font-weight: 500;
  font-size: 1.5rem;
}
.navy .navy-heading button {
  background: #21aa58;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 20px;
  opacity: 1;
  transition: 0.2s;
}
.navy .navy-heading button:hover {
  background: #5fbd85;
}
.navy .navy-video {
  width: 80%;
  height: 100%;
  margin-top: 30px;
  border-radius: 20px;
}
.navy .navy-video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.navy .navy-boxes {
  width: 80%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.navy .navy-boxes .navy-box {
  background: white;
  padding: 20px 50px;
  border-radius: 20px;
  margin: 20px;
}
.navy .navy-boxes .navy-box h2,
.navy .navy-boxes .navy-box p {
  text-align: right;
  color: #333;
  margin: 10px;
}
.navy .navy-boxes .navy-box h2 {
  font-size: 1.1rem;
  color: #333;
}

.btn-home-taxi {
  margin-top: 70px !important;
}

.request {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 20px;
  padding: 2%;
  margin: auto;
}
.request .req-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.request .req-content {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.request .req-content p {
  font-size: 1.3rem;
  color: #333;
  text-align: justify;
  font-weight: 400;
  padding-left: 20px;
}
.request .req-img {
  width: 70%;
}
.request .req-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-right: 40px !important;
  overflow: hidden;
  color: white;
  margin: 50px auto;
  background: #444;
}
.badge img {
  z-index: 1;
}
.badge::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/sass/badge/badge.jpg") no-repeat center center/cover !important;
  filter: brightness(0.5);
  z-index: -1;
}
.badge h3,
.badge p {
  font-size: 1.4rem;
  position: relative;
  z-index: 1;
}
.badge p {
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.badge a {
  padding: 10px;
  border: none;
  outline: none;
  background: white;
  color: black;
  border-radius: 10px;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 10px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
}
.badge a:hover {
  background: #d8d8d8;
}

.security {
  padding: 2%;
  max-width: 1140px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.security .secs-right {
  width: 50%;
}
.security .secs-right .sec-right {
  width: 100%;
  height: auto;
  background: #ebecf2;
  margin: 20px auto;
  padding: 20px 40px;
  border-radius: 20px;
  user-select: none;
}
.security .secs-right .sec-right h1 {
  text-align: center;
}
.security .secs-right .sec-right p {
  margin: 5px auto;
  font-size: 1.3rem;
  color: #111;
  text-align: justify;
}
.security .secs-right .sec-right div {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.security .secs-right .sec-right div span {
  color: #333;
  font-size: 1.3rem;
  font-weight: 900;
  margin: 10px 0;
  text-align: justify;
}
.security .secs-right .sec-right:hover {
  background: #21aa58;
}
.security .secs-right .sec-right:hover h1,
.security .secs-right .sec-right:hover p {
  color: white;
}
.security .secs-right .sec-right.first:hover h1,
.security .secs-right .sec-right.first:hover p {
  user-select: text;
}
.security .sec-left {
  background: rgb(233, 247, 238);
  width: 50%;
  height: auto;
  border-radius: 20px;
}
.security .sec-left video {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.security .sec-left h1 {
  text-align: center;
}
.security .sec-left p {
  margin: 5px auto;
  font-size: 1.3rem;
  color: #111;
  text-align: justify;
}
.security .sec-left div {
  padding: 20px 40px;
}

.taxi-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 930px;
}
.taxi-boxes .taxi-box {
  padding: 20px;
  border-radius: 20px;
  margin: 20px auto;
}
.taxi-boxes .taxi-box p {
  font-size: 1.3rem;
}
.taxi-boxes .taxi-box:nth-child(odd) {
  background: #ebecf2;
}

.taxi-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5%;
}
.taxi-registration div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.taxi-registration div p {
  margin: 20px auto;
  font-size: 1.3rem;
  color: #939393;
  text-align: justify;
}
.taxi-registration div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accordion-box {
  padding: 2%;
  background-color: #ebecf2;
}
.accordion-box .accordion {
  max-width: 930px;
  margin: 20px auto;
}
.accordion-box .accordion h1 {
  padding: 20px;
}
.accordion-box .accordion .accordion-item {
  border: 1px solid #f7f7f7;
  border-radius: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}
.accordion-box .accordion .accordion-item .accordion-header {
  background: #f7f7f7;
  border-radius: 20px;
  color: #333;
  padding: 20px 16px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;
  font-weight: bold;
}
.accordion-box .accordion .accordion-item .accordion-header.active {
  border-radius: 20px 20px 0 0;
}
.accordion-box .accordion .accordion-item .accordion-header i {
  transition: transform 0.3s ease;
}
.accordion-box .accordion .accordion-item .accordion-header.active i {
  transform: rotate(180deg);
}
.accordion-box .accordion .accordion-item .accordion-content {
  max-height: 0;
  overflow: hidden;
  background: #f7f7f7;
  color: #747474;
  font-size: 1.3rem;
  padding: 0 16px;
  transition: max-height 0.45s cubic-bezier(0.4, 0, 0.2, 1), padding 0.3s ease;
}
.accordion-box .accordion .accordion-item .accordion-content p {
  padding: 12px 0;
  margin: 0;
  line-height: 1.6;
}
.accordion-box .accordion .accordion-item .accordion-content.active {
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 0 0 20px 20px;
}

.bike-home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.s-a-left-bike {
  padding: 20px;
}
.s-a-left-bike span {
  color: #7a7a7a;
  font-size: 1.1rem;
  margin: 10px auto;
  display: inline-block;
}
.s-a-left-bike h1 {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
}
.s-a-left-bike p {
  color: #333;
  font-size: 1.3rem;
  margin: 5px auto;
  text-align: justify;
}

.sec-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.badge-bike::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/badge2.jpg") no-repeat center center/cover !important;
  filter: brightness(0.5);
  z-index: -1;
}

.video-bike {
  margin: 30px auto;
  width: 100%;
  height: 100%;
  padding: 5%;
  background: rgb(233, 247, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-bike video {
  width: 70%;
  height: 100%;
  border-radius: 20px;
}

.home-right-order {
  background: deeppink !important;
}

.request {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 20px;
  padding: 2%;
  margin: auto;
}
.request .req-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.request .req-content {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.request .req-content p {
  font-size: 1.3rem;
  color: #333;
  text-align: justify;
  font-weight: 400;
  padding-left: 20px;
}
.request .req-img {
  width: 70%;
}
.request .req-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-order {
  margin: 30px auto;
  width: 100%;
  height: 100%;
  padding: 5%;
  background: rgb(247, 233, 242);
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-order video {
  width: 70%;
  height: 100%;
  border-radius: 20px;
}

.order-boxes {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  gap: 20px;
  flex-wrap: wrap;
}
.order-boxes .order-box {
  width: 500px;
  height: 100%;
  border-radius: 20px;
  background: #ebecf2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-boxes .order-box div h1 {
  text-align: center;
  margin: 10px auto;
}
.order-boxes .order-box div p {
  font-size: 1.3rem;
  color: #333;
  font-weight: 700;
  text-align: justify;
  padding: 10px 20px;
}
.order-boxes .order-box img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.order-boxes .order-box:hover {
  background: deeppink;
}
.order-boxes .order-box:hover h1,
.order-boxes .order-box:hover p {
  color: white;
}

.restaurants {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.restaurants p {
  font-size: 1.3rem;
  max-width: 900px;
  color: #333;
  margin: auto;
  font-weight: 600;
  margin: 20px auto;
  padding: 20px;
  text-align: justify;
}
.restaurants div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
.restaurants div img {
  width: 50px;
  height: 50px;
  margin: 20px 50px;
  object-fit: cover;
  cursor: pointer;
}

.foods {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #f5f5f6;
  padding: 2%;
}
.foods .food {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}
.foods .food img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.home-right-super {
  background: blue !important;
}
.home-right-super .btn-home-super2 {
  margin-top: 30px;
  width: 100%;
  outline: none;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.sec-right-super:hover {
  background: blue !important;
  user-select: none !important;
}

.sec-left-super {
  background: #ebecf2 !important;
}

.health {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
}
.health div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px;
}
.health div img {
  width: 150px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
}

.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
}
.products .product-cat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
  width: 100%;
}
.products .product-cat .product {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  text-align: center;
  margin: 30px 20px;
}
.products .product-cat .product h2 {
  font-size: 1.2rem;
}
.products .product-cat .product img {
  width: 75px;
  object-fit: cover;
}

.home-right-flight {
  background: linear-gradient(to bottom right, rgba(255, 21, 60, 0.877), rgb(255, 25, 63)) !important;
}

.badge-flight img {
  width: 50px;
}

.taxi-box h2 {
  margin: 10px auto;
  font-size: 1.5rem;
}

.sec-left-flight {
  background: rgb(255, 236, 236) !important;
}

.sec-right-flight:hover {
  background: rgba(255, 21, 60, 0.877) !important;
}
.sec-right-flight:hover h1,
.sec-right-flight:hover p {
  user-select: none !important;
}

.btn-f2f {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  background: rgb(255, 255, 255);
  font-size: 1.3rem;
  color: rgba(255, 21, 60, 0.877);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.video-flight {
  margin: 30px auto;
  width: 100%;
  height: 100%;
  padding: 5%;
  background: rgb(247, 233, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-flight video {
  width: 70%;
  height: 100%;
  border-radius: 20px;
}

.flight-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  margin: 30px auto;
}
.flight-boxes .flight-box {
  cursor: pointer;
  text-align: center;
  margin: 20px;
}
.flight-boxes .flight-box img {
  width: 100px;
  object-fit: cover;
}
.flight-boxes .flight-box h1 {
  font-size: 1.3rem;
}

.radio-group {
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.radio-group .radio-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
  position: relative;
  cursor: pointer;
}
.radio-group .radio-wrapper input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.radio-group .radio-wrapper input[type=radio]:checked::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
}
.radio-group .radio-wrapper input[type=radio]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 192, 203, 0.6);
}
.radio-group .radio-wrapper input[type=radio]:hover {
  border-color: white;
  background-color: white;
  transform: scale(1.5);
}
.radio-group .radio-wrapper input[type=radio]:hover::before {
  background-color: white;
}

.domestic-flight {
  width: 90%;
  margin: auto;
}
.domestic-flight h1 {
  padding: 10px;
}
.domestic-flight .doms-f {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
}
.domestic-flight .doms-f .dom-f {
  cursor: pointer;
  text-align: center;
  font-size: 1.3rem;
  margin: 20px 50px;
}
.domestic-flight .doms-f .dom-f img {
  width: 100px;
  border-radius: 20px;
}

.airlines {
  width: 100%;
  margin: auto;
  padding: 10px;
}
.airlines h1 {
  padding: 10px;
}
.airlines .airline-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  overflow: auto;
}
.airlines .airline-boxes .airline {
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  margin: 20px;
}
.airlines .airline-boxes .airline img {
  width: 150px;
  border-radius: 20px;
}

header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2%;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: start;
  align-items: center;
}
header .menu-toggle {
  display: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
header .menu-toggle:hover {
  background: rgba(223, 223, 223, 0.7803921569);
}
header .menu-toggle i {
  color: #21aa58;
  font-size: 1.2rem;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
header ul .close-btn {
  display: none;
}
header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  font-size: 1.4rem;
}
header ul li a {
  color: #535353;
  font-weight: 400;
}
header ul li a i {
  font-size: 0.9rem;
  margin-right: 2px;
}

.footer {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.footer ul li {
  margin: 0 7px;
}
.footer ul li a {
  color: #5c5c5c;
  font-size: 1.3rem;
}
.footer .social-footer {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social-footer a {
  margin: 0 8px;
}
.footer .Certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.footer .Certificate img {
  object-fit: cover;
  cursor: pointer;
  margin: 0 10px;
}

@media (max-width: 1024px) {
  header ul li {
    font-size: 1.2rem;
  }
}
@media (max-width: 1000px) {
  .apps .app-boxes ul li a {
    flex-direction: column;
  }
  .super-app {
    grid-template-columns: repeat(1, 1fr);
  }
  .super-app .s-a-right {
    height: 300px;
  }
  .options .option {
    position: relative;
    bottom: 0;
  }
  .navy .navy-boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .navy .navy-video {
    width: 90%;
  }
  .request {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .request .req-btn {
    grid-column: 1/-1;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  .request .req-btn button {
    width: 400px !important;
  }
  .request .req-content {
    grid-column: 1/2;
    margin: auto;
  }
  .request .req-img {
    grid-column: 2/3;
    margin: auto;
  }
  .security {
    width: 100%;
    flex-direction: column;
  }
  .security .secs-right,
  .security .sec-left {
    width: 100%;
  }
  .security .secs-right {
    order: 2;
  }
  .security .sec-left {
    order: 1;
  }
  .taxi-boxes {
    width: 100%;
    padding: 2%;
  }
  .bike-home-btn {
    flex-direction: column;
  }
}
@media (min-width: 870px) {
  .dropdown {
    position: relative;
  }
  .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    border-radius: 5px;
    min-width: 200px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .dropdown .dropdown-menu li {
    margin: 7px;
    font-size: 1.3rem;
  }
  .dropdown:hover > .dropdown-menu {
    display: flex;
  }
}
@media (max-width: 870px) {
  header {
    position: fixed;
    justify-content: space-between;
  }
  .menu-toggle {
    display: flex !important;
    order: 1;
  }
  .logo {
    order: 2;
  }
  .menu-ul {
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #fff;
    z-index: 999;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    transition: right 0.3s ease-in-out;
    justify-content: start;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1 !important;
  }
  .menu-ul .list-after::after {
    content: "(سواری، موتور و وانت)";
    font-size: 1.3remrem;
    color: #21aa58;
    margin-right: 5px;
    cursor: pointer;
  }
  .menu-ul li {
    margin-bottom: 40px;
    font-size: 1.2rem;
  }
  .menu-ul li .a-green {
    color: #21aa58;
  }
  .menu-ul li a {
    font-size: 1.3rem;
  }
  .menu-ul li a i {
    position: absolute;
    left: 20px;
  }
  .menu-ul.active {
    right: -30px !important;
    overflow-x: hidden;
  }
  .menu-ul .close-btn {
    display: block;
    align-self: flex-start;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .menu-ul .close-btn i {
    font-size: 1.5rem;
    color: #333;
  }
  .home {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }
  .home .home-left {
    width: 100%;
    height: 100%;
    display: none;
  }
  .home .home-right form {
    display: none;
  }
  header .dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header .dropdown a {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  header .dropdown i.fa-chevron-down {
    margin-right: 10px;
    transition: transform 0.3s ease;
    position: static;
  }
  header .dropdown.open i.fa-chevron-down {
    transform: rotate(180deg);
  }
  header .dropdown.open .dropdown-menu {
    display: flex;
  }
  header .dropdown .dropdown-menu {
    display: none;
    flex-direction: column;
    padding: 10px 20px;
    margin-top: 5px;
    margin-right: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
  }
  header .dropdown .dropdown-menu li {
    padding: 8px 0;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 10px !important;
  }
  header .dropdown .dropdown-menu li a {
    padding: 0;
    display: block;
    width: 100%;
    color: rgb(112, 112, 112);
  }
}
@media (max-width: 840px) {
  .app-boxes ul li div p {
    display: none;
  }
  .apps .app-boxes ul li a div h4 {
    font-size: 1rem;
    text-align: center;
  }
  .app-boxes ul li a img {
    width: 50px;
    height: 50px;
  }
  .div-img {
    width: 50px;
    height: 50px;
  }
  .badges {
    margin-bottom: 30px;
  }
  .request {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .request .req-btn {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  .request .req-btn button {
    width: 300px !important;
  }
  .request .req-content {
    margin: auto;
    grid-column: 1/-1;
  }
  .request .req-content h1 {
    font-size: 1.5rem;
  }
  .request .req-img {
    margin: auto;
    grid-column: 1/-1;
    width: 50%;
  }
  .request .req-img img {
    border-radius: 10px;
  }
  .taxi-registration {
    flex-direction: column;
  }
  .taxi-registration .taxi-reg-img {
    order: 2;
  }
  .taxi-registration .taxi-reg-content {
    order: 1;
  }
  .taxi-registration div {
    width: 100%;
    margin: 20px auto;
  }
}
@media (max-width: 600px) {
  .request .req-img {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .mySwiper {
    margin-top: 50px;
    width: 100%;
    padding: 5px;
  }
  .super-app .s-a-right {
    height: 200px;
  }
  .navy .navy-video {
    width: 100%;
  }
  .footer .Certificate {
    flex-wrap: wrap;
    width: 100px;
  }
  .footer .Certificate img {
    margin: 10px;
  }
  .video-bike {
    width: 100%;
  }
  .video-bike video {
    width: 90%;
  }
}
@media (max-width: 350px) {
  .app-boxes ul li {
    width: 50% !important;
  }
}

/*# sourceMappingURL=style.css.map */
