@media (max-width: 1024px) {
  header {
    ul {
      li {
        font-size: 1.2rem;
      }
    }
  }
  .app-boxes {
    padding: 2%;
  }
}
@media (max-width: 1000px) {
  .app-box {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px auto;
  }
  .super-app {
    grid-template-columns: repeat(1, 1fr);
  }
  .super-app .s-a-right {
    height: 300px;
  }
  .options .option {
    position: relative;
    bottom: 0;
  }
}
@media (max-width: 870px) {
  header {
    position: fixed;
    justify-content: space-between;
  }
  .menu-toggle {
    display: flex !important;
    order: 1;
  }
  .logo {
    order: 2;
  }
  .menu-ul {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #fff;
    z-index: 999;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    transition: right 0.3s ease-in-out;
    justify-content: start;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1 !important;
    .list-after::after {
      content: "(سواری، موتور و وانت)";
      font-size: 1.3remrem;
      color: $snapp-green;
      margin-right: 5px;
      cursor: pointer;
    }
    li {
      margin-bottom: 40px;
      font-size: 1.2rem;

      .a-green {
        color: $snapp-green;
      }

      a {
        font-size: 1.3rem;
        i {
          position: absolute;
          left: 20px;
        }
      }
    }

    &.active {
      right: -30px !important;
    }
  }

  .menu-ul .close-btn {
    display: block;
    align-self: flex-start;
    margin-bottom: 20px;
    cursor: pointer;
    i {
      font-size: 1.5rem;
      color: #333;
    }
  }

  .home {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }
  .home .home-left {
    width: 100%;
    height: 100%;
    display: none;
  }

  .home .home-right form {
    display: none;
  }
}
@media (max-width: 840px) {
  .app-box {
    div p {
      display: none;
    }
    .div-img {
      width: 50px;
      height: 50px;
    }
  }
  .badges {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .mySwiper {
    margin-top: 50px;
    width: 100%;
    padding: 5px;
  }
  .super-app .s-a-right {
    height: 200px;
  }
}
@media (max-width: 368px) {
  .app-box {
    width: 50% !important;
  }
}
