@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Markazi Text", serif;
}

body {
  width: 100%;
  height: 100%;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2%;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: start;
  align-items: center;
}
header .menu-toggle {
  display: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
header .menu-toggle:hover {
  background: rgba(223, 223, 223, 0.7803921569);
}
header .menu-toggle i {
  color: #21aa58;
  font-size: 1.2rem;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
header ul .close-btn {
  display: none;
}
header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  font-size: 1.4rem;
}
header ul li a {
  color: #535353;
  font-weight: 400;
}
header ul li a i {
  font-size: 0.9rem;
  margin-right: 2px;
}

.home {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home .home-left {
  width: 100%;
  height: 100%;
}
.home .home-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .home-right {
  background: #21aa58;
  color: white;
  padding: 5% 10%;
}
.home .home-right h1 {
  font-size: 2.5rem;
  line-height: 60px;
  max-width: 500px;
}
.home .home-right p {
  margin-top: 20px;
  font-size: 1.7rem;
  font-weight: 400;
}
.home .home-right form {
  margin: 30px auto;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.home .home-right form input {
  border: none;
  outline: none;
  color: white;
  font-size: 1.5rem;
  background: transparent;
  border-bottom: 1px solid #fff;
  padding: 2px 5px;
}
.home .home-right form input::placeholder {
  color: white;
}
.home .home-right form button {
  border: none;
  outline: none;
  color: #21aa58;
  background: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
.home .home-right form button:hover {
  background: #d8d8d8;
}
.home .home-right .btn-home {
  margin-top: 30px;
  width: 100%;
  background: transparent;
  outline: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.home .home-right .btn-home:hover {
  background: rgba(255, 255, 255, 0.1);
}

.badges {
  padding: 5% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.badges a {
  width: 180px;
  height: 50px;
  border-radius: 10px;
}
.badges a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.apps h1 {
  text-align: center;
}
.apps .div-img {
  width: 70px;
  height: 70px;
  margin-left: 5px;
}
.apps .div-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.apps .app-boxes {
  padding: 0 15%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.apps .app-boxes .app-box {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 33.3333333%;
  gap: 10px;
  margin: 20px auto;
}
.apps .app-boxes .app-box div h4 {
  font-size: 1.3rem;
}
.apps .app-boxes .app-box div p {
  font-size: 1.2rem;
  color: gray;
  font-weight: 500;
}

@media (max-width: 1024px) {
  header ul li {
    font-size: 1.2rem;
  }
}
@media (max-width: 870px) {
  header {
    position: fixed;
    justify-content: space-between;
  }
  .menu-toggle {
    display: flex !important;
    order: 1;
  }
  .logo {
    order: 2;
  }
  .menu-ul {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #fff;
    z-index: 999;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    transition: right 0.3s ease-in-out;
    justify-content: start;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1 !important;
  }
  .menu-ul .list-after::after {
    content: "(سواری، موتور و وانت)";
    font-size: 1.3remrem;
    color: #21aa58;
    margin-right: 5px;
    cursor: pointer;
  }
  .menu-ul li {
    margin-bottom: 40px;
    font-size: 1.2rem;
  }
  .menu-ul li .a-green {
    color: #21aa58;
  }
  .menu-ul li a {
    font-size: 1.3rem;
  }
  .menu-ul li a i {
    position: absolute;
    left: 20px;
  }
  .menu-ul.active {
    right: -30px !important;
  }
  .menu-ul .close-btn {
    display: block;
    align-self: flex-start;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .menu-ul .close-btn i {
    font-size: 1.5rem;
    color: #333;
  }
  .home {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }
  .home .home-left {
    width: 100%;
    height: 100%;
    display: none;
  }
  .home .home-right form {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
