.bike-home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.s-a-left-bike {
  padding: 20px;
  span {
    color: #7a7a7a;
    font-size: 1.1rem;
    margin: 10px auto;
    display: inline-block;
  }
  h1 {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
  }
  p {
    color: #333;
    font-size: 1.3rem;
    margin: 5px auto;
    text-align: justify;
  }
}
.sec-left{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
}
.badge-bike{
    &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../img/badge2.jpg") no-repeat center center/cover !important;
    filter: brightness(0.5);
    z-index: -1;
  }
}
.video-bike{
    width: 100%;
    height: 100%;
    padding: 5%;
    background: rgb(233 247 238);
    display: flex;
    justify-content: center;
    align-items: center;
    video{
        width: 70%;
        height: 100%;
        border-radius: 20px;
    }
}