.bike-home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.s-a-left-bike {
  padding: 20px;
  span {
    color: #7a7a7a;
    font-size: 1.1rem;
    margin: 10px auto;
    display: inline-block;
  }
  h1 {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
  }
  p {
    color: #333;
    font-size: 1.3rem;
    margin: 5px auto;
    text-align: justify;
  }
}
.sec-left{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
}