.bus-boxes {
  width: 90%;
  margin: auto;
  h1 {
    padding: 2%;
  }
  .bus-boxes-div {
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 20px;
    .bus-box {
      text-align: center;
      margin: 20px;
      img {
        width: 100px;
        object-fit: cover;
      }
    }
  }
}
