.contact-home {
  width: 100%;
  height: 400px;
  iframe {
    width: 100%;
    height: 100%;
  }
}
.contact-us {
  @include grid(2, 1fr);
  gap: 20px;
  width: 90%;
  margin: auto;
  .contact-us-info {
    padding: 30px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    @include flex(center, center);
    flex-direction: column;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    section {
      @include flex(center, center);
      flex-direction: column;
      gap: 5px;
      font-size: 1.2rem;
      color: #6d6d6d;
      a{
        color: #6d6d6d;
        &:hover{
            color: $snapp-green;
        }
      }
      span{
        cursor: pointer;
        &:hover{
              color: $snapp-green;
        }
      }
      h2 {
        text-align: center;
        margin: 10px auto;
        color: $snapp-green;
      }
    }
  }
}
