::selection {
  background: $snapp-green;
  color: white;
}
.header-jobs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  border-bottom: 1px solid #eee;
  .icons-header {
    @include flex(center, center);
    a {
      color: $snapp-green;
      font-size: 1.1rem;
      margin: 0 10px;
      &:hover {
        transform: scale(1.1);
      }
    }
    button {
      margin-right: 15px;
      background: #00d500;
      color: white;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 10px;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        background: $snapp-green;
      }
    }
  }
  ul {
    @include flex(center, center);
    li {
      a {
        color: rgb(135, 224, 0);
        font-size: 1.2rem;
        margin: 0 10px;
        &:hover {
          color: $snapp-green;
        }
      }
    }
  }
  .logo {
    a {
      @include flex(center, center);
      img {
        width: 150px;
      }
    }
  }
}
.jobs-about-us {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  h1 {
    text-align: center;
    font-size: 3rem;
    color: #333;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  p {
    margin: auto;
    max-width: 80%;
    text-align: justify;
    font-size: 1.3rem;
    direction: ltr;
    font-weight: 300;
    line-height: 35px;
  }
}
.footer-jobs {
  @include flex(center, center);
  flex-direction: column;
  padding: 2%;
  iframe {
    width: 80%;
  }
  h1 {
    text-align: center;
    font-size: 3rem;
    color: #333;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 500;
  }
}
.jobs-Benefits {
  margin-top: 30px;
  direction: ltr;
  background: $snapp-green;
  @include flex(center, center);
  flex-direction: column;
  h1 {
    font-size: 3rem;
    color: $white;
    margin-top: 10px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.5rem;
    color: #000;
    margin: 10px auto;
    text-transform: uppercase;
  }
  .jobs-b-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    li {
      color: white;
      margin: 10px auto;
      font-size: 1.3rem;
      i {
        margin-right: 5px;
      }
    }
  }
}
.jobs-slider {
  h1 {
    padding: 20px;
    font-size: 3rem;
    text-transform: uppercase;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;

  .swiper {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 0 !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: white;
      background: rgb(148, 238, 13);
      padding: 10px;
      border-radius: 5px;

      &::after {
        font-size: 1.2rem;
      }

      &:hover {
        background: #00aa00;
      }
    }
  }
}
.jobs-home {
  width: 100%;
  height: 350px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
  }
}
.jobs-join {
  padding: 20px;
  margin: 50px auto;
  @include flex(center, center);
  flex-direction: column;
  h1 {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 3rem;
    color: #333;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  .category-of-join {
    ul {
      @include flex(center, center);
      flex-direction: row-reverse;
      flex-wrap: wrap;
      margin: 10px;
      li {
        &:hover {
          color: $snapp-green;
        }
        margin: 20px;
        cursor: pointer;
        color: #000;
        font-size: 1.3rem;
        font-weight: 800;
        padding: 5px;

        &.active {
          color: $snapp-green;

          border-bottom: 3px solid $snapp-green;
        }
      }
    }
  }
  .join-boxes {
    direction: ltr;
    text-align: left;
    margin-top: 30px;
    @include grid(2, 1fr);
    gap: 20px;
    .join-box {
      cursor: pointer;
      border: 1px solid #747474;
      padding: 10px 20px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      h3 {
        font-size: 1.3rem;
        color: #333;
      }
      div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        gap: 20px;
        h3 {
          font-size: 1rem;
          color: $snapp-green;
        }
        a {
          color: $snapp-green;
          background: rgb(239 239 239);
          padding: 10px;
          border-radius: 5px;
          font-weight: 800;
          font-size: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &:hover {
        background: $snapp-green;

        h3 {
          color: white;
        }
      }
    }
  }
}
