::selection {
  background: $snapp-green;
  color: white; 
}
.header-jobs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  border-bottom: 1px solid #eee;
  .icons-header {
    @include flex(center, center);
    a {
      color: $snapp-green;
      font-size: 1.1rem;
      margin: 0 10px;
      &:hover {
        transform: scale(1.1);
      }
    }
    button {
      margin-right: 15px;
      background: #00d500;
      color: white;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 10px;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        background: $snapp-green;
      }
    }
  }
  ul {
    @include flex(center, center);
    li {
      a {
        color: rgb(135, 224, 0);
        font-size: 1.2rem;
        margin: 0 10px;
        &:hover {
          color: $snapp-green;
        }
      }
    }
  }
  .logo {
    a {
      @include flex(center, center);
      img {
        width: 150px;
      }
    }
  }
}
.jobs-about-us {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  h1 {
    text-align: center;
    font-size: 3rem;
    color: #333;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  p {
    margin: auto;
    max-width: 80%;
    text-align: justify;
    font-size: 1.3rem;
    direction: ltr;
    font-weight: 300;
    line-height: 35px;
  }
}
