.home-right-order {
  background: deeppink !important;
}
.request {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 20px;
  padding: 2%;
  margin: auto;
  .req-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .btn-3 {
      @extend .btn-3;
    }
    .btn-4 {
      @extend .btn-4;
    }
  }
  .req-content {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;

    p {
      font-size: 1.3rem;
      color: #333;
      text-align: justify;
      font-weight: 400;
      padding-left: 20px;
    }
  }
  .req-img {
    width: 70%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.video-order {
  margin: 30px auto;
  width: 100%;
  height: 100%;
  padding: 5%;
  background: rgb(247, 233, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    width: 70%;
    height: 100%;
    border-radius: 20px;
  }
}
.order-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  gap: 20px;
  flex-wrap: wrap;
  .order-box {
    width: 500px;
    height: 100%;
    border-radius: 20px;
    background: #EBECF2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    div {
      h1 {
        text-align: center;
        margin: 10px auto;
      }
      p {
        font-size: 1.3rem;
        color: #333;
        font-weight: 700;
        text-align: justify;
        padding: 10px 20px;
      }
    }

    img {
      width: 90%;
      height: 100%;
      object-fit: cover;
    }

    &:hover{
      background: deeppink;

      h1,p{
        color: $white;
      }
    }
  }
}
